@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-LIGHT.TTF");
	font-weight: lighter;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-SEMIBOLD.TTF");
	font-weight: 600;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-LIGHTITALIC.TTF");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-REGULAR.TTF");
	font-weight: normal;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-REGULARITALIC.TTF");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-BOLD.TTF");
	font-weight: bold;
}

@font-face {
	font-family: QuinoaRound;
	src: url("./resources/fonts/Quinoa/QUINOAROUND-BOLDITALIC.TTF");
	font-weight: bold;
	font-style: italic;
}

* {
	font-family: Helvetica;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}
